.box_footer,
.box_header {
    
    text-align:center;
    background-color:$bgColor;
    padding:1em 0 0.5em;
}

.box_header {

    h1 {
        letter-spacing:0.19em;
        margin-bottom:0.4em;
    }

    .sub {
        text-transform:uppercase; 
        margin:0;
        letter-spacing:0.13em;       
    }

    .line {
        margin:0 auto 0.5em;
    }
}

$logosize:80px;

.logo {
    display:block;
    width:$logosize;
    height:$logosize;
    margin:0 auto;
    position:relative;
    margin-bottom:0.5em;
    cursor:pointer;

    svg {
        width:100%;
        height:100%;

        path.circle {fill:white}

        .box_header & {
            path.butterfly {
                fill:$bgColor;

                -webkit-animation-duration: 3s;
                -webkit-animation-name: logopulse;
                -webkit-animation-iteration-count: 1;
                -webkit-animation-delay: 0s;
                -webkit-animation-direction: normal;            
                -webkit-animation-fill-mode: forwards; 

                -moz-animation-duration: 3s;
                -moz-animation-name: logopulse;
                -moz-animation-iteration-count: 1;
                -moz-animation-delay: 0s;
                -moz-animation-direction: normal;            
                -moz-animation-fill-mode: forwards; 

                -o-animation-duration: 3s;
                -o-animation-name: logopulse;
                -o-animation-iteration-count: 1;
                -o-animation-delay: 0s;
                -o-animation-direction: normal;            
                -o-animation-fill-mode: forwards; 

                animation-duration: 3s;
                animation-name: logopulse;
                animation-iteration-count: 1;
                animation-delay: 0s;
                animation-direction: normal;            
                animation-fill-mode: forwards; 
            }
        }
        
    }

    .box_footer & {
        width:$logosize/2;
        height:$logosize/2;
        svg {
            path.circle {fill:$bgColor}
            path.butterfly {fill:$midColor}
        }
    }
}

@-webkit-keyframes logopulse {
  0%   { fill: white; }
  100% { fill: $bgColor; }
}
@-moz-keyframes logopulse {
  0%   { fill: white; }
  100% { fill: $bgColor; }
}
@-o-keyframes logopulse {
  0%   { fill: white; }
  100% { fill: $bgColor; }
}
@keyframes logopulse {
  0%   { fill: white; }
  100% { fill: $bgColor;}
}