
// @import "modules/example";

@import "modules/header";
// @import "modules/carousel";

.container {
    position:relative;
    margin-top:2em;
}

.box {
    position:relative;
    width:300px;
    height:200px;
    overflow:visible;
}

#original {display:none}